extends ../admin

block title
	| Админка - таб 2 (admin.psd)

block content
	.tabs__content-title
		| Страница "Блог"
	form.tabs__form
		.tabs__form-content
			.tabs__subtitle Добавить запись
			.tabs__form-add
				.tabs__form-row
					input.tabs__input(name="" type="text" placeholder="Название")
				.tabs__form-row
					input.tabs__input(name="" type="text" placeholder="Дата")
				.tabs__form-row
					textarea.tabs__input.tabs__input_textarea
		.tabs__form-submit-container
			input(name="" type="submit" value="Добавить").tabs__form-submit