extends ../main
include ../_articles/articles

block title
	| Блог (blog.psd)

block content
	section.section.blog
		.blog__triangles
			+section-triangles('blog')
		.blog-wrapper
			-
				var articles = {
					'За что я люблю Slack' : {
						'date' : '20 мая 2016'
					},

					'Что выбрать? IDE или простой редактор кода?' : {
						'date' : '17 мая 2016'
					},

					'PhpStorm и  WebStorm' : {
						'date' : '20 апреля 2016'
					},

					'Главные преимущества Sublime Text 3' : {
						'date' : '10 апреля 2016'
					},

					'Базы данных и системы управления базами данных' : {
						'date' : '20 февраля 2016'
					},

					'Объектно-ориентированные БД и Mongo.db' : {
						'date' : '10 января 2016'
					}
				}
			.container
				aside.sidebar
					.menu
						ul.menu__list
							each info, title in articles
								li.menu__item
									a(href="#").menu__link= title
					a(href="#").sidebar__trigger
				main.blog-content
					ul.articles
						- var i = 1;
						each info, title in articles
							li.article__item
								.article__title= title
								.article__date= info['date']
								.article__text
									+article(i)
								- i++;
	- var footerModifer = 'footer_blog';


