mixin article (num)
    if num == 1
        p.
            Slack — это лучший мессенджер для командной работы, идеальный способ собрать всю команду вместе. Все структурировано по каналам, для каждой темы можно создать отдельный канал (как открытый для всех, так и приватный). Весь архив сообщений доступен всегда и везде. Есть умный поиск по всем сообщениям, в том числе внутри текста сохраненных pdf. Существует веб-версия сервиса, а также удобнейшие приложения для iPhone и Android.
        p.
            Более того, Slack поддерживает интеграцию со многими важными  сервисами. Умеет посылать сигналы в эти сервисы прямо из комнат чата. Это позволяет пользователям отслеживать прогресс в различных проектах с помощью одной платформы, а также снизить информационную перегрузку, которая возникает при необходимости общаться с множеством людей в разных мессенджерах и почте. Twitter, Google Hangouts, GitHub, Asana, Dropbox, WordPress и многими другими.
        p.
            Slack — это мессенджер, поработав в котором, вам больше не захочется возвращаться в Skype.

    if num == 2
        p.
            Лёгкий редактор кода или IDE? Споры на эту тему в среде программистов не умолкают, свои плюсы и минусы есть у всех существующих редакторов и сред разработки.
        p.
            IDE (Integrated Development Environment) – «интегрированная среда разработки» - это редактор, который расширен большим количеством «наворотов», умеет работать со вспомогательными системами, такими как багтрекер, контроль версий, и др.
            Главный плюс IDE - наличие синтаксического анализатора языка программирования. Среда «понимает», что она редактирует код. Редактор — нет. А это и автодополнение, и навигация, и подсветка синтаксических, а, иногда, и семантических ошибок. То есть, IDE не  предложит вам команду или выражение, если оно синтаксически неверно.
        p.
            Основное преимущество лёгких редакторов - это скорость работы и простота - они идеальны для мелких проектов с небольшим количеством файлов. Редакторы могут работать не только с кодом. Всю их мощь можно задействовать при работе с csv или xml файлами. Либо чего-то другого, в чём иногда возникает необходимость, вроде статьи или письма. Сейчас для лёгких редакторов существует огромное количество плагинов, поэтому граница между ними и IDE очень размыта. А удовольствие от непрерывного тюнинга своего основного   инструмента и ощущение полного контроля над ним - никто не отменял!

    if num == 3
        p.
            PhpStorm – это интегрированная среда разработки на PHP с интеллектуальным редактором, которая глубоко понимает код и содержит полный набор инструментов для фронтенд-разработки.
        p.
            PhpStorm включает в себя всю функциональность WebStorm (HTML/CSS редактор, JavaScript редактор) и добавляет полнофункциональную поддержку PHP и баз данных / SQL. WebStorm же позволяет эффективно разрабатывать приложения на Node.js и поддерживает полноценную отладку Node.js приложений. Новое приложение можно создать, используя шаблон Node.js Express, а необходимые модули установить с помощью встроенного в WebStorm менеджера npm.

    if num == 4
        p.
            <a href="#">Sublime Text 3</a> — это мощный и красивый редактор кода. Этот редактор славится своей быстрой работой, достаточно развитым функционалом и наличием огромного количества плагинов, позволяющих сделать из него удобную, заточенную практически под любой современный язык программирования IDE.

        ul
            li.
                Скорость работы
            li.
                Минималистичный интерфейс — ничего лишнего
            li.
                Графическая карта файла — удобная идея навигации по файлу
            li.
                Нечёткий поиск
            li.
                Гибкая настройка под себя без графического интерфейса
            li.
                Мощное, развитое сообщество плагинов, обеспеченное первоначальником Package Control (1000+ плагинов от 800+ авторов)
            li.
                Мультикурсор — редактирование стоблцов текста и не только
            li.
                Продуманные хоткеи
            li.
                Таб-группы — возможностью разделить экран на несколько частей
            li.
                Возможность одновременно редактировать один и тот же файл в разных табах.

    if num == 5
        p.
            База данных - это хранилище данных, набор сведений, которые хранятся упорядоченным способом. Понятная аналогия - шкаф с документами. С базами данных мы постоянно сталкиваемся:  когда ищем что-то в поисковике, когда регистрируемся на сайте.
            Сами по себе базы данных не представляли бы интереса, если бы не было СУБД.
        p.
            Система управления базами данных - это система, с помощью которой мы можем создавать БД и управлять данными внутри них:

        ul
            li.
                создавать данные;
            li.
                удалять данные;
            li.
                менять их;
            li.
                обеспечивать их безопасность;
            li.
                производить резервное копирование данных и др.

    if num == 6
        p.
            Объектно-ориентированные - данные хранятся в виде объектов, в json-подобных документах, которые объединены в коллекции.
            СУБД Mongo.db относится к NoSQL базам данных, основной чертой которых является нереляционный характер и соответственно язык запросов, отличный от SQL. В Mongo.db в качестве язык запросов используется JavaScript и JSON-структуры. Выбор столь нехарактерного языка запроса объясняется тем, что эта документ-ориентированная СУБД использует JSON-формат для представления документов и вывода результатов. Физически JSON-структуры хранятся в бинарном BSON-формате.
        p.
            Mongo.db - это:
        ul
            li.
                Документ-ориентированная СУБД (о том, что это значит, читайте в первой главе)
            li.
                Популярная NoSQL СУБД, которую используют в GitHub, SourceForge, Foursquare, Bit.ly, About.me, MTV, CNN, New York Times, Forbes, Disney
            li.
                Mongo.db можно установить на всех операционных системах (Windows, MacOS, Linux)
            li.
                И работать с ней можно на разных языках программирования (С, C++, Phyton, PHP, Ruby, Node.js и др.)

