$responsive: true;

/* --------- colors --------- */

$green: #20b5a1;
$grey: #455a64;

/* --------- gems --------- */

@import "compass";
@import "singularitygs";
@import "breakpoint";

/* --------- media setups --------- */

@import "responsive/media";

/* --------- adjustment --------- */

@import "_misc/font-awesome";
@import "_misc/fonts";
@import "_misc/normalize";
@import "_misc/mixins";
@import "_misc/adjustment";

/* --------- sections --------- */

@import "sections/**/*";

