body {
	&.blocked {
		overflow: hidden;
	}
}

.beauty-title {
	@include inlineblock();
	position: relative;
	padding: rem(50px) rem(70px);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.beauty-title_under {
	position: absolute;
	@include centered;
}

.beauty-title_text {
	@include bern();
	font-size: rem(63px);
	color: #373e42;
	text-transform: uppercase;
	position: relative;
	line-height: rem(68px);

	&:after, &:before {
		content: "";
		width: 22px;
		height: 5px;
		@include opacity(.2);
		background-color: #373e42;
		top: 50%;
		margin-top: -1px;
		display: block;
		position: absolute;
	}

	&:after {
		right: rem(-42px);
	}

	&:before {
		left: rem(-42px);
	}
}

/* --------- subtitle --------- */

.subtitle {
	font-size: rem(35px);
	color: #455a64;
	@include inlineblock();
	position: relative;
	@include bern();
	max-width: rem(230px);
	text-align: center;
	margin-left: rem(45px);
	margin-right: rem(45px);

	&:after, &:before {
		content: "";
		width: 22px;
		height: 5px;
		@include opacity(.2);
		background-color: #373e42;
		top: rem(21px);
		display: block;
		position: absolute;
	}

	&:after {
		right: rem(-42px);
	}

	&:before {
		left: rem(-42px);
	}

	@include tablets {
		max-width: 90%;
	}
}

.section-text {
	color: #455a64;
	@include roboto();
	font-size: rem(16px);
	font-weight: 400;
	line-height: rem(24px);

	p {
		margin-bottom: rem(20px);
	}
}

/* --------- socials --------- */

.socials__link {
	display: block;
	text-decoration: none;
	color: #00bfa5;
	font-size: rem(25px);
	opacity: .5;
	@include transition(.3s);

	&:hover {
		opacity: 1;
	}
}

.socials__item {
	@include inlineblock(middle);
	margin-left: rem(25px);

	&:first-child {
		margin-left: 0;
	}
}

/* --------- triangles --------- */

.section-triangle {
	height: rem(160px);
	position: absolute;
	top: rem(-160px);
	left: 0;
	right: 0;

	svg {
		width: 100%;
		height: 100%;
	}
}