.wrapper_admin {
	background: url('/img/bg/admin.jpg') 0 0 no-repeat;
	background-size: cover;
}
.admin__header {
	padding: rem(25px) 3%;
	background: $green;
	@include clearfix();

	@include phones {
		padding-top: rem(50px);
		position: relative;
	}
}

.admin__header-title {
	font-size: rem(28px);
	@include roboto(medium);
	color: #fff;
}

.admin__header-left, .admin__header-right {
	float: left;
	width: 50%;

	@include phones {
		float: none;
		width: 100%;
	}
}

.admin__header-left {
	@include phones {
		text-align: center;
	}
}

.admin__header-right {
	text-align: right;

	@include phones {
		position: absolute;
		top: rem(10px);
		left: 0;
		right: 0;
		text-align: center;
	}
}

.admin__header-link {
	@include roboto(medium);
	font-size: rem(16px);
	color: rgba(#fff, .7);
	line-height: rem(18px);
	padding-top: rem(10px);

	&:hover {
		text-decoration: none;
	}
}

.tabs__content {
	padding: 0 3% rem(20px);
}

.tabs__content-title {
	font-size: rem(21px);
	color: $grey;
	@include roboto(medium);
	margin-bottom: rem(30px);
}

.tabs__list {
	@include clearfix;
	display: block;
	width: 100%;
	background: #f0efe9;
}

.tabs__item {
	float: left;
	border-right: rem(2px) solid #fff;

	&.active {
		background: #fff;

		.tabs__link {
			color: $green;
		}
	}

	@include phones {
		float: none;
		border-right: 0;
		border-bottom: rem(2px) solid #fff;
	}
}

.tabs__link {
	display: block;
	padding: rem(20px) rem(70px);
	text-decoration: none;
	text-transform: uppercase;
	color: $grey;
	font-size: rem(16px);
	@include roboto(medium);

	@include phones {
		text-align: center;
	}
}

.tabs__controls {
	margin-bottom: rem(50px);
}

.tabs__form {
	display: block;
}

.tabs__form-content {
	margin-bottom: rem(50px);
}

.admin-skills {
	margin-left: -10%;

	@include phones {
		margin-left: 0;
	}
}

.admin-skills__item {
	display: inline-block;
	vertical-align: top;
	margin-left: 10%;
	margin-bottom: rem(30px);

	@include phones {
		width: 100%;
		margin-left: 0;
	}
}

.admin-skills__title {
	@include roboto(medium);
	font-size: rem(16px);
	color: $grey;
	margin-bottom: rem(20px);
}

.admin-skills__table {
	margin-left: rem(21px);

	td {
		vertical-align: middle;
	}

	@include phones {
		width: 100%;
	}
}

.admin-skills__item-title {
	font-size: rem(16px);
	@include inlineblock(middle);
	color: $grey;
}

.admin-skills__amount {
	@include inlineblock(middle);
}

.tabs__input {
	padding: rem(10px);
	background: #fff;
	@include border-radius(5px);
	box-sizing: border-box;
	@include inlineblock(middle);
	border: 0 none;
	font-size: rem(16px);
	color: $grey;
	width: 50%;

	&.tabs__input_short {
		width: rem(45px);
		text-align: center;
	}

	@include phones {
		width: 100%;
	}
}



.admin-skills__amount-char {
	@include inlineblock(middle);
	font-size: rem(16px);
	color: $grey;
	margin-left: rem(10px);
}

.admin-skills__second-row {
	padding-left: rem(30px);
}

.tabs__form-submit {
	display: inline-block;
	padding: rem(10px) rem(15px);
	background: $green;
	color: #fff;
	text-decoration: none;
	@include border-radius(5px);
	border: 0 none;
}

/* --------- tab 2 --------- */

.tabs__subtitle {
	color: $grey;
	font-size: rem(16px);
	margin-bottom: rem(20px);
}

.tabs__form-add {
	width: 50%;
	min-width: rem(320px);

	@include tablets {
		width: 100%;
	}
}

.tabs__form-row {
	margin-bottom: rem(20px);
}

.tabs__input_textarea {
	height: rem(165px);
	resize: none;
	width: 100%;
}

/* --------- file - input --------- */

.file-input {
	position: relative;
	display: block;
	cursor: pointer;

	.tabs__input {
		position: absolute;
		top: 0;
		left: -9999px;
	}
}

.file-input__fake {
	white-space: nowrap;
}

.file-input__icon {
	@include inlineblock();
}

.file-input__text {
	@include inlineblock();
	margin-top: rem(4px);
	color: $green;
	font-size: rem(16px);
}

.tabs__content-wrapper {
	display: none;

	&.active {
		display: block;
	}
}
