.wrapper_auth {
	background-image: url('/img/bg/auth.jpg');
	@include cover;
	min-width: 390px;
}

.autherize-link {
	position: fixed;
	display: block;
	right: rem(25px);
	top: rem(25px);
	z-index: 100;
	padding: 10px 25px;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	@include border-radius(5px);
	@include transition(.3s);

	&:hover {
		background: #fff;
		color: $green;
	}
}


.auth {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	overflow: auto;

	@include phones {
		&:before {
			display: none;
		}
	}
}

.user_auth {
	margin-bottom: rem(30px);

	.user__name {
		color: #455a64;
	}

	.user__occupation {
		color: rgba(#455a64, .8);
	}
}

.auth__block {
	width: 97%;
	max-width: 380px;

	@include phones {
		margin-top: 2rem;
	}
}

.auth__block-infos {
	background: rgba(#fff, .85);
	padding: rem(40px) rem(20px);
}

.auth__block-btn {
	display: block;
	float: left;
	height: rem(45px);
	line-height: rem(45px);
	color: #fff;
	background: rgba(#00bfa5, .85);
	text-align: center;
	@include roboto(medium);
	font-size: rem(16px);
	text-decoration: none;
	@include transition(.3s);
	box-sizing: border-box;
	border-left: 2px solid #6fd1c6;

	&:first-child {
		border-left: 0 none;
	}

	&:hover {
		background: rgba(#009688, .85);
	}
}

.auth__block-btn_works {
	width: 40%;
}

.auth__block-btn_about {
	width: 30%;
}

.auth__block-btn_blog {
	width: 30%;
}

.auth__block-side {
	overflow: hidden;
	@include border-radius(10px);
}

/* --------- flip --------- */

.auth {
	overflow: hidden;
}

.auth__block {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	-webkit-perspective: 1000px;
	perspective: 1000px;

	&.auth__block_login {
		.auth__block-flip {
			@include transform(rotateY(180deg));
		}
	}

	&.auth__block_loaded {
		.auth__block-front {
			@include transform(translateY(-50%) rotateY(0deg) rotateX(0deg));
			opacity: 1;
		}
	}
}

.auth__block-flip {
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.auth__block-front {
	@include transition(transform, 1s, opacity 1s);
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	opacity: 0;
}

.auth__block-front, .auth__block-back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.auth__block-front {
	z-index: 2;
	@include transform(translateY(-50%) rotateY(0deg) rotateX(-35deg));
}

.auth__block-back {
	@include transform(translateY(-50%) rotateY(180deg));
}
