body.mobile-sidebar {
	.sidebar {
		@include transform(translate3d(0, 0, 0));
	}
}

.blog {
	position: relative;
	background: #fff;

	.container {
		width: 80%;

		@include tablets {
			width: 100%;
		}
	}
}

.blog-triangle__left {
	right: auto;
	width: 50%;
}

.blog-triangle__right {
	left: auto;
	width: 50%;
}


.blog-wrapper {
	padding-bottom: rem(90px);
	padding-top: rem(40px);
}

.blog__triangles {
	svg {
		fill: #fff;
	}
}

.sidebar {
	float: left;
	width: 30%;
	position: relative;
	height: 1px;

	@include tablets {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 280px;
		background: $green;
		height: auto;
		@include transform(translate3d(-280px, 0, 0));
		z-index: 1000;
		@include transition(transform .3s);

		&:before {
			content: "";
			@include inlineblock(middle);
			height: 100%;
			width: 0;
		}

		.menu {
			display: inline-block !important;
			vertical-align: middle !important;
			@include transform(translate3d(0,0,0) !important);
			position: static;
			width: 98%;
		}
	}
}

.sidebar__trigger {
	outline: none !important;

	@include tablets {
		display: block;
		width: 30px;
		height: 40px;
		@include border-radius(50%);
		position: absolute;
		top: 50%;
		margin-top: -20px;
		right: -15px;
		background: $green;
	}
}

.menu {
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.blog-content {
	float: right;
	width: 60%;

	@include tablets {
		float: none;
		width: 100%;
	}
}

.article__item {
	padding-bottom: rem(80px);
	border-bottom: 5px solid #f1f1f2;
	margin-bottom: rem(60px);

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}
}

.article__title {
	color: #455a64;
	font-size: rem(35px);
	@include bern();
	margin-bottom: rem(20px);
}

.article__date {
	color: #00bfa5;
	@include roboto();
	font-size: rem(16px);
	margin-bottom: rem(20px);
}

.article__text {
	font-size: rem(16px);
	color: #455a64;

	p {
		margin-bottom: rem(15px);
	}

	a {
		color: #6da3bd;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	ul {
		padding-left: rem(30px);

		li {
			list-style: disc;
		}
	}
}

.menu__item {
	text-align: right;
	margin-bottom: rem(20px);

	&.active {
		.menu__link {
			color: $green;
			@include roboto(bold);
			border-color: $green;

			@include tablets {
				color: #fff;
				border-color: transparent;
			}
		}
	}
}

.menu__link {
	text-decoration: none;
	padding: rem(7px) 10%;
	font-size: rem(16px);
	display: block;
	border-right: 3px solid transparent;
	color: #455a64;
	@include transition(.3s);

	@include tablets {
		color: rgba(#fff, .7);
	}

	&:hover {
		color: $green;
		@include roboto(bold);
		border-right: 3px solid $green;

		@include tablets {
			color: #fff;
		}
	}
}

.footer_blog {
	.section-triangle {
		display: none;
	}
}

/* --------- fixed-menu --------- */

.fixed-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	@include tablets {
		display: none;
	}
}

.fixed-menu__left {
	width: 30%;
	float: left;
	height: 1px;
	position: relative;
}

.fixed-menu__right {
	width: 70%;
	float: left;
	height: 1px;
}

