.header {
	height: 100vh;
	position: relative;
	min-height: rem(660px);
	overflow: hidden;

	@include tablets {
		min-height: 0;
	}
}

.header__links {
	@include clearfix;
	padding: rem(20px) rem(20px) 0;
}

.header__links-left, .header__links-right {
	float: left;
	width: 50%;
}

.socials_header {
	.socials__link {
		color: #fff;
	}
}

#hamburger {
	height: 33px;
}

.hamburger {
	@include inlineblock();
	color: #fff;
	font-size: rem(25px);
	text-decoration: none;
	opacity: .5;
	@include transition(.3s);
	outline: none !important;
	z-index: 50;
	position: relative;

	&:hover {
		opacity: 1;
	}

	.fa-close {
		display: none;
	}

	&.hamburger_closed {
		position: relative;

		.fa-bars {
			display: none;
		}

		.fa-close {
			display: block;
		}
	}
}

.header__links-right {
	text-align: right;
}

.header__bg {
	background: url('/img/bg/hero.jpg') 0 0 no-repeat;
	background-position: center top;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	will-change: transform;
	@include transform(translateZ(0));
}

.header__content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.user-info__container {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	@include transform(translateY(-60%));
}

.user {
	@include inlineblock();
	text-align: center;
}

.user-info__undertext {
	position: absolute;
	top: 50%;
	background-size: contain;
	position: absolute;
	left: 50%;
	@include transform(translate(-50%, -50%));
	width: 100%;
	text-align: center;
}

.user-info__portfolio-pic {
	max-width: 100%;
	@include inlineblock();
}

.user-info__inner {
	position: relative;
	text-align: center;
}

.user__pic {
	@include cover();
	width: rem(145px);
	height: rem(145px);
	@include border-radius(50%);
	@include inlineblock();
}

.user__name {
	color: white;
	@include roboto(medium);
	font-size: rem(35px);
}

.user__occupation {
	font-size: rem(16px);
	@include roboto(light);
	color: rgba(#fff, .8);
}

.header__down-btn {
	display: block;
	width: 50px;
	height: 50px;
	background: url("/img/icons/todown.png") center center no-repeat;
	position: absolute;
	bottom: rem(77px);
	left: 50%;
	margin-left: -25px;
	z-index: 10;
	opacity: .5;
	@include transition(.3s);

	&:hover {
		opacity: 1;
	}
}