.login__elem {
	display: block;
	margin-bottom: rem(20px);
	background: #f0efe9;
	display: block;
	position: relative;
	padding-left: 40px;
	@include border-radius(5px);
}

.login__elem-input {
	border: 0 none;
	background: #fff;
	@include border-radius(0px 5px 5px 0);
	padding: rem(10px) rem(15px);
	font-size: rem(16px);
	display: block;
	width: 100%;
}

.login__elem-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: rem(40px);

	&:before {
		display: inline-block;
		content: "";
		vertical-align: middle;
		height: 100%;
		width: 0;
	}
}

.login__elem-fa {
	display: inline-block;
	vertical-align: middle;
	color: #c4cbcd;
}

.login__human {
	display: block;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	margin-bottom: 15px;
}

.login__human-input {
	position: absolute;
	top: 0;
	left: -9999px;

	&:checked {
		& + .login__human-checkbox {
			background: url('/img/icons/mark.png') center center no-repeat $green;
		}
	}
}

.login__human-checkbox {
	@include inlineblock(middle);
	width: 20px;
	height: 20px;
	background: $green;
	@include border-radius(3px);
}

.login__human-text {
	font-size: 16px;
	color: $grey;
	@include inlineblock(middle);
	margin-left: 10px;
}

.login__human-repeat-title {
	@include roboto(bold);
	font-size: 16px;
	color: $grey;
	margin-bottom: 10px;
}

.login__human-radio {
	display: inline-block;
	margin-left: 35px;
	position: relative;

	&:first-child {
		margin-left: 0;
	}
}

.login__human-radio-fake {
	width: 20px;
	height: 20px;
	border: 1px solid #cdcdcd;
	background: #fff;
	@include inlineblock(middle);
	@include border-radius(50%);
	position: relative;

	&:before {
		@include absolute-center();
		content: "";
		height: 0px;
		width: 0px;
		display: block;
		background: $green;
		@include border-radius(50%);
		@include transition(.3s);
	}
}

.login__human-radio-elem {
	position: absolute;
	top: 0;
	left: -9999px;

	&:checked {
		& + .login__human-radio-fake {
			&:before {
				width: 8px;
				height: 8px;
			}

			& + .login__human-radio-text {
				color: $green;
			}
		}
	}
}

.login__human-radio-text {
	@include inlineblock(middle);
	margin-left: 10px;
	@include transition(color .3s);
	color: $grey;
}

.auth__block-btns_equals {
	.auth__block-btn {
		width: 50%;
	}
}