.map {
	height: 100vh;
	position: relative;
	min-height: 650px;
}

#google-map {
	width: 100%;
	height: 100%;
}

.contacts {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	background: rgba(#fff, .85);
	padding: rem(35px);
	@include border-radius(5px);
}

.contacts__item {
	margin-bottom: rem(20px);
}

.contacts__link {
	display: block;
	text-decoration: none;
	white-space: nowrap;
}

.contacts__icon, .contacts__text {
	@include inlineblock(middle);
}

.contacts__icon {
	color: $green;
	font-size: rem(25px);
}

.contacts__text {
	font-size: rem(16px);
	color: rgba(#455a64, .8);
	margin-left: rem(14px);
}








