.reviews {
	background-image: url('/img/bg/water.jpg');
	padding-bottom:  rem(100px);
	background-position: center top;
}

.reviews__container {
	width: 80%;
	margin: 0 auto;

	@include tablets {
		width: 95%;
	}
}

.reviews__title {
	text-align: center;
	margin-bottom: rem(50px);
}

.reviews__list {
	font-size: 0;
	margin-bottom: rem(70px);

	* {
		font-size: rem(14px);
	}
}

.reviews__item {
	@include inlineblock();
	width: 50%;
	box-sizing: border-box;
	padding: 0 rem(15px);

	@include phones {
		width: 100%;
		display: block;
		margin-bottom: rem(25px);
	}
}

.reviews__item-inner {
	background: url('/img/icons/quote.png') 0 0 no-repeat;
	padding-top: rem(60px);

	@include phones {
		background-position: center 0;
	}
}

.reviews__item-text {
	font-size: rem(16px);
	color: #455a64;
	margin-bottom: rem(16px);
}

.reviews__user-pic {
	@include cover();
	@include inlineblock(middle);
	width: rem(80px);
	height: rem(80px);
	@include border-radius(50%);
}

.reviews__user-name {
	@include inlineblock(middle);
	margin-left: rem(20px);
	max-width: 50%;
}

.reviews__name-title {
	color: $green;
	font-size: rem(16px);
	@include roboto(bold);
	margin-bottom: rem(5px);
}

.reviews__name-occupation {
	font-size: rem(16px);
	color: $green;
}

/* --------- form --------- */

.reviews__form-container {
	text-align: center;
}

.reviews__form {
	text-align: left;
	@include inlineblock();
	max-width: rem(380px);
	@include border-radius(5px);
}

.reviews__form-inner {
	padding: rem(20px);
	position: relative;
	overflow: hidden;
}

.review__form-blur {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('/img/bg/water.jpg') center -738px no-repeat;
	-webkit-filter: blur(15px);
	filter: blur(15px);
	@include border-radius(5px);
}

.reviews__form-content {
	position: relative;
}

.reviews__form-title {
	text-align: center;
}

.reviews__form-input {
	width: 100%;
	padding: rem(13px) rem(20px);
	border: 0 none;
	margin-bottom: rem(20px);
	box-sizing: border-box;
	@include border-radius(5px);
}

.reviews__form-input_textarea {
	height: rem(145px);
	resize: none;
}

.reviews__form-btns {
	@include clearfix;
	overflow: hidden;
	@include border-radius(0 0 5px 5px);
}

.reviews__form-btn {
	float: left;
	display: block;
	width: 50%;
	background: rgba(#26c9b2, .3);
	height: rem(45px);
	color: #fff;
	border: 0 none;
	@include transition(.3s);
	box-sizing: border-box;
	font-size: rem(16px);
	cursor: pointer;

	&:hover {
		background: rgba(#26c9b2, .8);
	}
}

.reviews__form-btn_send {
	border-right: 1px solid #82cfc9;
}