.screen-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	display: none;

	&:before, &:after {
		content: "";
		display: block;
		top: 0;
		bottom: 0;
		width: 50%;
		background: rgba($green, .87);
		position: absolute;
	}

	&:before {
		left: 0;
		@include transform(translateX(-100%));
	}

	&:after {
		right: 0px;
		@include transform(translateX(100%));
	}

	&.active {
		&:before {
			animation: slide-left .4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
			animation-fill-mode: forwards;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-o-animation-fill-mode: forwards;
		}

		&:after {
			animation: slide-right .4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
			animation-fill-mode: forwards;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-o-animation-fill-mode: forwards;
		}
	}
}

.screen-menu__container {
	z-index: 10;
	@include centered;
	position: absolute;
}

.screen-menu__link {
	display: block;
	opacity: 0;

	.subtitle {
		margin-bottom: 0;
		color: #fff;

		&:hover {
			&:after, &:before {
				background: #fff;
				opacity: .8;
				width: 22px;
			}
		}

		&:after, &:before {
			background: #42cbb9;
			width: 0;
			@include transition(.3s);
		}
	}
}

.screen-menu__row {
	margin-bottom: rem(50px);
}

.screen-menu__link {
	&.active {
		opacity: 1;
		animation: bounceIn .3s;
	}
}

/* --------- keyframes --------- */

@keyframes bounceIn {
	from, 20%, 40%, 60%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(.97, .97, .97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes bounceIn {
	from, 20%, 40%, 60%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(.97, .97, .97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}


@keyframes slide-right {
	from {
		@include transform(translateX(100%));
	}

	to {
		@include transform(translateX(0));
	}
}

@-webkit-keyframes slide-right {
	from {
		@include transform(translateX(100%));
	}

	to {
		@include transform(translateX(0));
	}
}


@keyframes slide-left {
	from {
		@include transform(translateX(-100%));
	}

	to {
		@include transform(translateX(0));
	}
}

@-webkit-keyframes slide-left {
	from {
		@include transform(translateX(-100%));
	}

	to {
		@include transform(translateX(0));
	}
}